<!DOCTYPE html>
<html>
	<head>
		<title> Funcionalidades </title>
	
		<style>
			body {
				color: white;
			}
		</style>
	
	</head>
	
	<body style="background-color:#443D45;">
	
		<h1 style="color:#8BB174"> LABPOO Projetão 2022 - Funcionalidades </h1>
		<p> ---------------------------------------- </p>
		
		<!-- Cria playlist -->
		<form th:action="@/playlist/cria-playlist">
		    <p> Inserir nome da Playslist: </p>
		    <input type="text" th:name="nome-da-playlist"> 
            <input type="submit" value="criar"/>
		<form>
		
		<!-- apagar Playslist-->
		<form th:action="@/playlist/apagar-playlist">
		    <p> Inserir nome da Playslist: </p>
		    <input type="text" th:name="removePlaylist"> 
            <input type="submit" value="apagar"/>
		<form>
		
		<!-- Listar Playslist-->
		<form th:action="@/playlist/lista-playlists">
		    <p> Listar Playslists: </p>
            <button type="submit" th:name="action" th:value="in">listar</button>
		<form>
		
		<!-- inserir item Playslist(Item & Playslist)-->
		<form th:action="@/playlist/adiciona-itens">
		    <p> Inserir item na Playslist (Item & Playslist): </p>
			<input type="text" th:name="playlist-selecionada"> 
		    <input type="text" th:name="Playlist"> 
            <input type="submit" value="inserir"/>
		<form>
		
		<!-- Remover item Playslist(Item & Playslist)-->
		<form th:action="@/playlist/remove-playlist">
		    <p> Remover item na Playslist (Item & Playslist): </p>
			<input type="text" th:name="Item"> 
		    <input type="text" th:name="Playlist"> 
            <input type="submit" value="remover"/>
		<form>
	</body>
</html>
