<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title> LABPOO 2022 </title>
		<link rel="stylesheet" href="./home.css">
		
	</head>
	
	<body>
		<div class="flex-container-geral">
			<div>
				<!-- Textos -->
				<h1> Super Gerenciador Musical </h1>
				<h3> A melhor ferramenta para organizar suas playlists e músicas favoritas! </h3>
				<p> O Gerenciador Musical vai te ajudar a criar novas playlists, adicionar músicas incríveis e gerenciar tudo isto de forma simples com uma integração com a sua conta no Spotify! </p>
		
				<!-- Autenticação -->
				<form th:action="@{/autorizacao/login}">
					<button class="autenticador" type="submit"><span>Experimentar</span></button>
				</form>
			
				<!-- Informações adicionais -->
				<div class="flex-container-adicionais">
					<button class="expansor" type="submit"><img class="arrow-icone" src="./arrow_icon.png" alt="ícone de seta"> Veja como funciona</button>
					<div class="conteudo">
						<p>nada no momento...</p>
					</div>
			
					<button class="expansor" type="submit"><img class="arrow-icone" src="./arrow_icon.png" alt="ícone de seta"> Contribuições</button>
					<div class="conteudo">
						<p>nada no momento...</p>
					</div>
				</div>
			</div>
			
			<!-- Logo -->		
			<img class="logo-icone" src="/logo_icon.png" alt="logo">
		</div>
		
		<script>
			var coll = document.getElementsByClassName("expansor");
			var i;

			for (i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
					this.classList.toggle("ativador");
					var content = this.nextElementSibling;
					if (content.style.display === "block") {
						content.style.display = "none";
					} else {
						content.style.display = "block";
					}
				});
			}
		</script>
	</body>
</html>
