<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Menu Principal </title>
	
		<link rel="stylesheet" href="./menu.css">
	</head>
	
	<body onload="busca()">
		<div class="nav-bar-container">
			<h2 id="projeto-text">Projetão LabOO - 2022</h2>
			<a href="http://localhost:8080/"><button class="logout-button">
				<p>Sair</p> 
				<img class="logout-img" src="./logout_icon.png" alt="Sair">
			</button></a>
		</div>
		<h1 class="title-header">Super Gerenciador Musical</h1>

		<!-- TEMPLATE DE BOTÃO PARA BUSCA POR PARÂMETROS
		<div class="container-categorias-de-busca">
				<button type="button" class="botao-param-de-busca" id="botao-param-de-busca-artista" onclick="displayCritérioArtista('botao-param-de-busca-artista', 'nome-busca-input-artista', 'search-tag-artista')">Artista</button>
		</div> -->
		
	    <!-- busca musica -->
		<div class="search-form-container">
			<form>
				<p id="search-tag">Pesquisar música</p>
				<input class="caixaBusca" type="text" id="nome-busca-input-musica" th:name="nome-busca-musica"  placeholder="Digite um item para buscar..."> 
				<div class="container-categorias-de-busca"  style="display: inline">
					<button type="button" class="botao-param-de-busca" id="botao-param-de-busca-artista" onclick="displayCritérioArtista('botao-param-de-busca-artista', 'nome-busca-input-artista', 'search-tag-artista', 'artista')">Artista</button>
				</div>
				<div class="container-categorias-de-busca"  style="display: inline">
					<button type="button" class="botao-param-de-busca" id="botao-param-de-busca-album" onclick="displayCritérioArtista('botao-param-de-busca-album', 'nome-busca-input-album', 'search-tag-album', 'album')">Album</button>
				</div>
				
				<p id="search-tag-artista" style="display: none">Critério: artista</p>
				<input class="caixaBusca" type="text" id="nome-busca-input-artista" th:name="nome-busca-artista"  placeholder="Digite uma música para buscar..." style="display: none"> 

				<p id="search-tag-album" style="display: none">Critério: álbum</p>
				<input class="caixaBusca" type="text" id="nome-busca-input-album" th:name="nome-busca-album"  placeholder="Digite um item para buscar..." style="display: none; background: #00ceec; opacity: 0.5"> 

				<p id="search-tag">Pesquisar álbum</p>
				<input class="caixaBusca" type="text" id="nome-busca-input-album" th:name="nome-album"  placeholder="Digite um album para buscar...">
				
				<p id="search-tag">Pesquisar playlist</p>
				<input class="caixaBusca" type="text" id="nome-busca-input-playlist" th:name="nome-playlist"  placeholder="Digite uma playlist para buscar...">

				<input class="botao1 animated1" id="unico" type="submit" value="Buscar" style="display: block"/>
			</form>
		</div>
		
		<div class="section-container">
			<h2 class="title-h2">Minhas playlists</h2>
			<p class="text-p">Clique para ver as playlists que você criou.</p>
			<div id="lista-de-playlists"></div>
		</div>

		<!-- Lista Playlists -->
		<form>
            <button class="botao1 animated2" id="unico" type="button" onclick="listaPlaylists('sim'); scrolldiv('lista-de-playlists')">Listar Playlists</button>
		</form>
		
	   <!-- cria Playslist -->
		<form th:action="@{/menu/cria-playlist}">
			<div>
				<h2 class="title-h2" id="nova-playlist-title">Nova Playlist</h2>
				<p class="text-p" id="nova-playlist-text">Digite o nome da sua playlist</p>
			</div>

			<input type="text" th:name="nome-da-playlist" class="textbox-criaPlaylist" placeholder="Digite o nome da playlist">
			<div class="playlist-buttons-container">
				<input class="botao2" id="create-playlist-button" type="submit" value="+ Criar nova playlist" />
			</div>
		</form>

		<div class="section-container">
			<h2 class="title-h2">Resultados de busca</h2>
			<p class="text-p">Clique em uma música para ver detalhes ou adicionar a uma playlist.</p>
			
			<div id="resultadosDeBusca">
			</div>
		</div>
		
		<div class="section-container">
			<h2 class="title-h2">Músicas da playlist</h2>
			<br></br>
			<table id="itens-de-playlist"></table>
		</div>
		
		<div class="section-container">
			<h2 class="title-h2">Músicas do álbum</h2>
			<br></br>
			<table id="itens-de-album"></table>
		</div>
		
		<!-- Popup para adicionar música a uma Playlist -->
		<div class="form-popup" id="popupAdicionarMusica">
			<form class="form-container">
					<h1 id="titulo-popup">Adicionar esta música à playlist</h1>
					<p id="descricao-popup">Deseja adicionar a música em qual playlist?</p>
				<select id="dropdownPlaylists">
						<option value="none" selected disabled hidden>Selecione uma playlist</option>
					</select>
					
				<button type="button" class="btn" onclick="selecionarPlaylistParaAdicionar()">Adicionar</button>
				<button type="button" class="btn cancel" onclick="fechaForm()">Sair</button>
			</form>
		</div>

		<script>
			function selecionarPlaylistParaAdicionar(){				
				let select = document.getElementById('dropdownPlaylists');
				let idDaPlaylist = select.value;
				let uriDaMusica = window.localStorage.getItem('uriDaMusica');

				if(select.value == "none"){
					alert("Selecione uma playlist");
				}
				else{
					console.log("URI da música que será adicionada: " + uriDaMusica);
					console.log("ID da playlist: " + idDaPlaylist);

					adicionaMusica(uriDaMusica, idDaPlaylist);
					console.log("Adicionei a música: " + uriDaMusica);
					fechaForm();
				}
			}

			function getQueryVariable(variable) {
			       let query = window.location.search.substring(1);
			       let vars = query.split("&");
			       for (let i=0;i<vars.length;i++) {
							let pair = vars[i].split("=");
							if(pair[0] == variable){return pair[1];}
			       }
			       return(false);
			}
			
			function busca() {
				// condition ? expressionIfTrue : expressionIfFalse;

				let queryParamMusica = getQueryVariable("nome-busca-musica") == false ? '' : 'nome-musica-criterio=' + getQueryVariable("nome-busca-musica");

				let queryParamAlbumCriteria = getQueryVariable("nome-busca-album") == false ? '' : '&nome-album-criterio=' + getQueryVariable("nome-busca-album");

				let queryParamArtistaCriteria = getQueryVariable("nome-busca-artista") == false ? '' : '&nome-artista-criterio=' + getQueryVariable("nome-busca-artista");

				let queryParamAlbum = getQueryVariable("nome-album") == false ? '' : 'nome-album=' + getQueryVariable("nome-album");
				
				let queryParamPlaylist = getQueryVariable("nome-playlist") == false ? '' : 'nome-playlist=' + getQueryVariable("nome-playlist");
				
				console.log("Buscando...");
				
				if(queryParamMusica != '' || queryParamAlbumCriteria != '' || queryParamArtistaCriteria || '')
					fetch('/menu/busca-musica-por-parametro?' + queryParamMusica + queryParamAlbumCriteria + queryParamArtistaCriteria)
						.then(function (response) {
							return response.json();
						})
						.then(function (data) {
							appendData_busca(data, "resultadosDeBusca");
						})
						.catch(function (err) {
							console.log('error: ' + err);
						});
				
				else if (queryParamAlbum != '')
					fetch('/menu/busca-albums?' + queryParamAlbum)
					.then(function (response) {
						return response.json();
					})
					.then(function (data) {
						appendData_buscaAlbum(data, "resultadosDeBusca");
					})
					.catch(function (err) {
						console.log('error: ' + err);
					});
				else if (queryParamPlaylist != '')
					fetch('/menu/busca-playlist?' + queryParamPlaylist)
					.then(function (response) {
						return response.json();
					})
					.then(function (data) {
						appendData_buscaPlaylist(data, "resultadosDeBusca");
					})
					.catch(function (err) {
						console.log('error: ' + err);
					});
			}
			
			function appendData_busca(data, elementId) {
				let mainContainer = document.getElementById(elementId);

				// Esvazia o conteúdo inicial da div
				mainContainer.innerHTML = "";

				for (let i = 0; i < data.length; i++) {
					console.log(data[i].id);
					fetch('/menu/parametros-de-musica?id-da-musica=' + data[i].id)
						.then(function (response) {
							return response.json();
						})
						.then(function(dataDaMusica){
							console.log("Consegui pegar as características da música " + data[i].name + "!")
							console.log(data[i]);
				
							let div = `<br><div class="resultado">
									<div class="container">
										<span>
											<img src=${data[i].album.images[0].url} class="playlist-img"></img>
											<p>Artista ${data[i].artists[0].name}</p>
											<h4>${data[i].name}</h4>
										<span>
										<p>Caracteristicas: </p>
										<p1>dançabilidade: ${dataDaMusica.danceability} || energia: ${dataDaMusica.energy}</p1>
										<p1>duração: ${dataDaMusica.tempo} || força: ${dataDaMusica.loudness}</p1>
										<p1>fala: ${dataDaMusica.speechiness} || instrumental: ${dataDaMusica.instrumentalness}</p1>
										<p1>ao vivo: ${dataDaMusica.liveness} || acústica: ${dataDaMusica.acousticness}</p1>
									</div>
									<button class="open-button" onclick="abreForm('${data[i].id}');listaPlaylists();">+ Adicionar a uma Playlist</button>
								</div></br>`;
							mainContainer.innerHTML += div;
							
						})
						.catch(function (err) {
									console.log("Erro ao pegar características da música: " + err);
						});
					
					// console.log('Name: ' + data[i].name + ' ;');
					// console.log('Id: ' + data[i].id + ' ;');
				}
			}

			function appendData_buscaAlbum(data, elementId) {
				let mainContainer = document.getElementById(elementId);

				// Esvazia o conteúdo inicial da div
				mainContainer.innerHTML = "";

				// TODO: listaAlbum
				for (let i = 0; i < data.length; i++) {
					let div = `<div><h4>Nome do álbum: ${data[i].name} — Artista: ${data[i].artists[0].name}</h4><img src=${data[i].images[0].url} class="playlist-img"><button class="list-musics-button" onclick="listaItensDeAlbum('${data[i].id}')">+ Listar músicas</button></div>`;
					mainContainer.innerHTML += div;
					
					// console.log('Name: ' + data[i].name + ' ;');
					// console.log('Id: ' + data[i].id + ' ;');
				}
			}
			
			function appendData_buscaPlaylist(data, elementId) {
				let mainContainer = document.getElementById(elementId);

				mainContainer.innerHTML = "";
				//let dropdownDePlaylists = document.getElementById("dropdownPlaylists");
				
				for (let i = 0; i < data.length; i++) {
					// Cria o elemento <option> para cada playlist, para mostrar no dropdown de escolhas
					//dropdownDePlaylists.innerHTML += `<option value= "${data[i].id}">` + data[i].name + "</option>";

					let div = `<div id="playlist-numero-${i}"><h4>Nome da playlist: ${data[i].name};</h4><img src=${data[i].images[0].url} class="playlist-img"><button class="list-musics-button" onclick="listaItensPlaylistPublica('${data[i].id}')">Listar músicas</button></div>`;			
					mainContainer.innerHTML += div;
				}
			}
			
			function abreForm(uriDaMusica) {
				document.getElementById("popupAdicionarMusica").style.display = "block";
				scrolldiv("popupAdicionarMusica")

				// Salva a uri da música para ser usada no botão "Adicionar"
				window.localStorage.setItem('uriDaMusica', uriDaMusica);
				console.log("URI no localStorage: " + window.localStorage.getItem('uriDaMusica'));
			}

			function fechaForm() {
				document.getElementById("popupAdicionarMusica").style.display = "none";
			}
			
			function listaPlaylists(display) {
				console.log("buscando...");
				fetch('/menu/lista-playlists?')
					.then(function (response) {
						return response.json();
					})
					.then(function (data) {
						appendData_playlist(data, display);
					})
					.catch(function (err) {
						console.log('error: ' + err);
					});
			}
			
			function appendData_playlist(data, display) {
				let mainContainer = document.getElementById("lista-de-playlists");

				mainContainer.innerHTML = "";
				let dropdownDePlaylists = document.getElementById("dropdownPlaylists");
				
				for (let i = 0; i < data.length; i++) {
					// Cria o elemento <option> para cada playlist, para mostrar no dropdown de escolhas
					dropdownDePlaylists.innerHTML += `<option value= "${data[i].id}">` + data[i].name + "</option>";
					if(display != 'nao')
					{
						let containerDeBusca = document.getElementById("resultadosDeBusca");
						containerDeBusca.innerHTML = "";
						let div = `<div id="playlist-numero-${i}"><h4>Nome: ${data[i].name};</h4><img src=${data[i].images[0].url} class="playlist-img"><button class="list-musics-button" onclick="listaItens('${data[i].id}')">Listar músicas</button><button class="remove-button" onclick="deletaPlaylist('${data[i].id}', 'playlist-numero-${i}')";>⨉ Remover</button></div>`;			
						mainContainer.innerHTML += div;
					}
				}
			}

			function deletaPlaylist(idDaPlaylist, idDaDiv) {
				console.log(idDaPlaylist);
				fetch('/menu/remove-playlist?playlist-selecionada=' + idDaPlaylist)
					.then(function (response) {
						console.log("Playlist removida?");
						console.log(response);
						return response.json();
					})
					.then(function (data) {
						let div = document.getElementById(idDaDiv);
						div.remove();
						alert("Playlist removida com sucesso!");
					})
					.catch(function (err) {
						console.log('erro ao remover playlist: ' + err);
					});
			}
			
			function listaItens(idDaPlaylist) {
				console.log("Playlist listada: " + idDaPlaylist);
				fetch('/menu/lista-itens-de-playlist?playlist-selecionada=' + idDaPlaylist)
					.then(function (response) {
						return response.json();
					})
					.then(function (dataDasMusicasNaPlaylist) {

						let mainContainer = document.getElementById("itens-de-playlist");
						scrolldiv("itens-de-playlist");

						mainContainer.innerHTML = 
						`<tr>
							<th><button class="botao-sort" onclick="ordenador(0)">Nome</button></th>
							<th><button class="botao-sort" onclick="ordenador(1)">Artista</button></th>
							<th><button class="botao-sort" onclick="ordenador(2)">Dançável</button></th>
							<th><button class="botao-sort" onclick="ordenador(3)">Energia</button></th>
							<th><button class="botao-sort" onclick="ordenador(4)">Andamento</button></th>
							<th><button class="botao-sort" onclick="ordenador(5)">Força</button></th>
							<th><button class="botao-sort" onclick="ordenador(6)">Fala</button></th>
							<th><button class="botao-sort" onclick="ordenador(7)">Instrumental</button></th>
							<th><button class="botao-sort" onclick="ordenador(8)">Ao Vivo</button></th>
							<th><button class="botao-sort" onclick="ordenador(9)">Acústica</button></th>
							<th></th>
						</tr>`;

						for (let i=0; i < dataDasMusicasNaPlaylist.length; i++){
							fetch('/menu/parametros-de-musica?id-da-musica=' + dataDasMusicasNaPlaylist[i].track.id)
								.then(function (response) {
									return response.json();
								})
								.then(function(dataDaMusica){
									console.log("Consegui pegar as características da música " + dataDasMusicasNaPlaylist[i].track.name + "!")
									console.log(dataDaMusica);

									let card = 
										`<tr id=item-playlist-${i}>
											<td>${dataDasMusicasNaPlaylist[i].track.name}</td>
											<td>${dataDasMusicasNaPlaylist[i].track.artists[0].name}</td>
											<td>${dataDaMusica.danceability}</td>
											<td>${dataDaMusica.energy}</td>
											<td>${dataDaMusica.tempo}</td>
											<td>${dataDaMusica.loudness}</td>
											<td>${dataDaMusica.speechiness}</td>
											<td>${dataDaMusica.instrumentalness}</td>
											<td>${dataDaMusica.liveness}</td>
											<td>${dataDaMusica.acousticness}</td>
											<td><button class="botao2" onclick="removeMusica('${dataDasMusicasNaPlaylist[i].track.uri}', '${idDaPlaylist}', 'item-playlist-${i}')">Remover</button></td>
										</tr>`;
									mainContainer.innerHTML += card;
								})
								.catch(function (err) {
									console.log("Erro ao pegar características da música: " + err);
								});	
						}
					})
					.catch(function (err) {
						console.log("Erro ao listar playlist: " + err);
					}); 
			}
			
			function listaItensPlaylistPublica(idDaPlaylist) {
				console.log("Playlist listada: " + idDaPlaylist);
				fetch('/menu/lista-itens-de-playlist?playlist-selecionada=' + idDaPlaylist)
					.then(function (response) {
						return response.json();
					})
					.then(function (dataDasMusicasNaPlaylist) {

						let mainContainer = document.getElementById("itens-de-playlist");
						scrolldiv("itens-de-playlist");

						mainContainer.innerHTML = 
						`<tr>
							<th><button class="botao-sort" onclick="ordenador(0)">Nome</button></th>
							<th><button class="botao-sort" onclick="ordenador(1)">Artista</button></th>
							<th><button class="botao-sort" onclick="ordenador(2)">Dançável</button></th>
							<th><button class="botao-sort" onclick="ordenador(3)">Energia</button></th>
							<th><button class="botao-sort" onclick="ordenador(4)">Andamento</button></th>
							<th><button class="botao-sort" onclick="ordenador(5)">Força</button></th>
							<th><button class="botao-sort" onclick="ordenador(6)">Fala</button></th>
							<th><button class="botao-sort" onclick="ordenador(7)">Instrumental</button></th>
							<th><button class="botao-sort" onclick="ordenador(8)">Ao Vivo</button></th>
							<th><button class="botao-sort" onclick="ordenador(9)">Acústica</button></th>
							<th></th>
						</tr>`;

						for (let i=0; i < dataDasMusicasNaPlaylist.length; i++){
							fetch('/menu/parametros-de-musica?id-da-musica=' + dataDasMusicasNaPlaylist[i].track.id)
								.then(function (response) {
									return response.json();
								})
								.then(function(dataDaMusica){
									console.log("Consegui pegar as características da música " + dataDasMusicasNaPlaylist[i].track.name + "!")
									console.log(dataDaMusica);

									let card = 
										`<table id="item-playlist-${i}">
											<tr>
												<td>${dataDasMusicasNaPlaylist[i].track.name}</td>
												<td>${dataDasMusicasNaPlaylist[i].track.artists[0].name}</td>
												<td>${dataDaMusica.danceability}</td>
												<td>${dataDaMusica.energy}</td>
												<td>${dataDaMusica.tempo}</td>
												<td>${dataDaMusica.loudness}</td>
												<td>${dataDaMusica.speechiness}</td>
												<td>${dataDaMusica.instrumentalness}</td>
												<td>${dataDaMusica.liveness}</td>
												<td>${dataDaMusica.acousticness}</td>
												<td><button class="open-button" onclick="abreForm('${dataDasMusicasNaPlaylist[i].track.id}');listaPlaylists('nao');">+ Adicionar a uma Playlist</button></td>
											</tr>
										</table>`;
									mainContainer.innerHTML += card;
								})
								.catch(function (err) {
									console.log("Erro ao pegar características da música: " + err);
								});								
						}
					})
					.catch(function (err) {
						console.log("Erro ao listar playlist: " + err);
					}); 
			}
			
			function listaItensDeAlbum(idDoAlbum) {
				console.log("Álbum listado: " + idDoAlbum);
				fetch('/menu/lista-musicas-de-album?album-selecionado=' + idDoAlbum)
					.then(function (response) {
						return response.json();
					})
					.then(function (dataDasMusicasNoAlbum) {

						let mainContainer = document.getElementById("itens-de-album");
						scrolldiv("itens-de-album");

						mainContainer.innerHTML = 
						`<tr>
							<th><button class="botao-sort" onclick="ordenador(0)">Nome</button></th>
							<th><button class="botao-sort" onclick="ordenador(1)">Artista</button></th>
							<th><button class="botao-sort" onclick="ordenador(2)">Dançável</button></th>
							<th><button class="botao-sort" onclick="ordenador(3)">Energia</button></th>
							<th><button class="botao-sort" onclick="ordenador(4)">Andamento</button></th>
							<th><button class="botao-sort" onclick="ordenador(5)">Força</button></th>
							<th><button class="botao-sort" onclick="ordenador(6)">Fala</button></th>
							<th><button class="botao-sort" onclick="ordenador(7)">Instrumental</button></th>
							<th><button class="botao-sort" onclick="ordenador(8)">Ao Vivo</button></th>
							<th><button class="botao-sort" onclick="ordenador(9)">Acústica</button></th>
							<th></th>
						</tr>`;

						for (let i=0; i < dataDasMusicasNoAlbum.length; i++){
							fetch('/menu/parametros-de-musica?id-da-musica=' + dataDasMusicasNoAlbum[i].id)
								.then(function (response) {
									return response.json();
								})
								.then(function(dataDaMusica){
									console.log("Consegui pegar as características da música " + dataDasMusicasNoAlbum[i].name + "!")
									console.log(dataDaMusica);

									let card = 
										`<table id="item-album-${i}">
											<tr>
												<td>${dataDasMusicasNoAlbum[i].name}</td>
												<td>${dataDasMusicasNoAlbum[i].artists[0].name}</td>
												<td>${dataDaMusica.danceability}</td>
												<td>${dataDaMusica.energy}</td>
												<td>${dataDaMusica.tempo}</td>
												<td>${dataDaMusica.loudness}</td>
												<td>${dataDaMusica.speechiness}</td>
												<td>${dataDaMusica.instrumentalness}</td>
												<td>${dataDaMusica.liveness}</td>
												<td>${dataDaMusica.acousticness}</td>
												<td><button class="open-button" onclick="abreForm('${dataDasMusicasNoAlbum[i].id}');listaPlaylists('nao');">+ Adicionar a uma Playlist</button></td>
											</tr>
										</table>`;
									mainContainer.innerHTML += card;
								})
								.catch(function (err) {
									console.log("Erro ao pegar características da música: " + err);
								});								
						}
					})
					.catch(function (err) {
						console.log("Erro ao listar álbum: " + err);
					}); 
			}
			
			function removeMusica (uriDaMusica, idDaPlaylist, idDaDiv){
				console.log(idDaPlaylist);
				fetch('/menu/remove-itens-de-playlist?playlist-selecionada=' + idDaPlaylist + '&uris=' + uriDaMusica)
					.then(function (response) {
						console.log("Música removida?");
						console.log(response);
						return response.json();
					})
					.then(function (data) {
						console.log("Música removida!");
						let div = document.getElementById(idDaDiv);
						div.parentNode.removeChild(div);
					})
					.catch(function (err) {
						console.log('erro ao remover playlist: ' + err);
					});
			}
			
			function adicionaMusica (uriDaMusica, idDaPlaylist){
				console.log("ID da playlist para add a música: " + idDaPlaylist);

				fetch('/menu/adiciona-itens?playlist-selecionada=' + idDaPlaylist + '&uri=spotify:track:' + uriDaMusica)
					.then(function (response) {
						console.log("Musica adicionada?");
						console.log(response);
						return response.json();
					})
					.then(function (data) {
						console.log("Música adicionada!");
						alert("Música adicionada com sucesso!");
					})
					.catch(function (err) {
						console.log('Erro ao adicionar playlist: ' + err);
					});
			}

			function scrolldiv(idDaDiv) {
				let elem = document.getElementById(idDaDiv);
				elem.scrollIntoView();
			}

			function ordenador(n) {
  				var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  				table = document.getElementById("itens-de-playlist");
  				switching = true;
  				dir = "asc"; 
  
  				while (switching) {
 
    				switching = false;
 					rows = table.rows;
    
    				for (i = 1; i < (rows.length - 1); i++) {
     
     					shouldSwitch = false;
      					x = rows[i].getElementsByTagName("TD")[n];
      					y = rows[i + 1].getElementsByTagName("TD")[n];
      
      					if (dir == "asc") {
        					if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          
          						shouldSwitch= true;
          						break;
        					}
      					} else if (dir == "desc") {
        					if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          
          						shouldSwitch = true;
          						break;
        					}
      					}
    				}
    			
    				if (shouldSwitch) {
      
      					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      					switching = true;
    					switchcount ++;      
    			
    				} else {
    
      					if (switchcount == 0 && dir == "asc") {
        				
        					dir = "desc";
        					switching = true;
      				
      						}
    					}
  					}
				}

			let contadorDeCliquesArtista = 0;
			let contadorDeCliquesAlbum = 0;
			function displayCritérioArtista(idDoBotao, idDaBarraDeBusca, idDoTituloDaBarra, tipo){

				let botaoParametroDeBusca = document.getElementById(idDoBotao);
				let barraDeBusca = document.getElementById(idDaBarraDeBusca);
				let tituloDeBusca = document.getElementById(idDoTituloDaBarra);
				
				contadorDeCliquesArtista += tipo == "artista" ? 1 : 0;
				contadorDeCliquesAlbum += tipo == "album" ? 1 : 0;
				let contadorDeCliques = tipo == "artista" ? contadorDeCliquesArtista : contadorDeCliquesAlbum
					
				if(contadorDeCliques % 2 == 0){ // unclick
					botaoParametroDeBusca.style.backgroundColor = "#FFFFFF";
					botaoParametroDeBusca.style.color = "rgba(0, 0, 0, 0.87)";
					barraDeBusca.style.display = "none";
					tituloDeBusca.style.display = "none";
				}
				else{ // click
					botaoParametroDeBusca.style.backgroundColor = "#00C4B4";
					botaoParametroDeBusca.style.color = "#FFFFFF";
					barraDeBusca.style.display = "flex";
					tituloDeBusca.style.display = "flex";
					botaoParametroDeBusca.style.backgroundColor = "red";
				}
			}
			
		</script>
	</body>
</html>
