<!DOCTYPE html>
<html>
	<head>
		<title> Playlist removida </title>
	
		<style>
		    body{
              background-color:#28272c;			  
			}
			
            h1 {
              color: yellow;
			  font: canvas;
              text-align: center;
			  font-family: "Courier New";
			  margin-top: 250px;
			  display: block;
              opacity: 0.8;			  
            }
			
		</style>
	</head>
	
	<body>
		<h1> Playlist Removida com sucesso!!! </h2>
		<meta http-equiv="refresh" content="3; URL='http://localhost:8080/menu'"/>
	</body>
</html>
