<!DOCTYPE html>
<html>
	<head>
		<title> Resultados da Busca </title>
	
		<style>
		    body{
              	background-color:#28272c;			  
				}
			
            h1 {
					color: yellow;
					font: canvas;
					text-align: center;
					font-family: "Courier New";
					margin-top: 250px;
					display: block;
					opacity: 0.8;			  
            }
			
		</style>
	</head>
	
	<body>
		<!-- <script>
			let endereco = sessionStorage.getItem("enderecoDeBusca");
			console.log(endereco);
			busca(endereco);

			function busca(endereco){
				console.log("buscando...");
				fetch('/menu/busca-musica/resultadoDaBusca?nome-busca=' + endereco)
					.then(function (response) {
						console.log("Deu certo no primeiro then");
						return response.json();
					})
					.then(function (data) {
						console.log("Deu certo no segundo then");
						appendData(data);
					})
					.catch(function (err) {
						console.log('error: ' + err);
					});
				function appendData(data) {
					var mainContainer = document.getElementById("resultadosDeBusca");
					for (var i = 0; i < data.length; i++) {
						var h1 = document.createElement("h1");
						h1.innerHTML = 'Name: ' + data[i].name + ' ;';
						console.log('Name: ' + data[i].name + ' ;');
						mainContainer.appendChild(h1);
					}
				}
			}
		</script> -->
		<h1> Resultados da busca encontrados!!! </h2>



	</body>
</html>
