<!DOCTYPE html>
<html>
	<head>
		<title> Resultados da Busca </title>
	
		<style>
		    body{
              	background-color:#28272c;			  
				}
			
            h1 {
					color: yellow;
					font: canvas;
					text-align: center;
					font-family: "Courier New";
					margin-top: 250px;
					display: block;
					opacity: 0.8;			  
            }
			
		</style>
	</head>
	
	<body>
		<h1> Resultados da busca encontrados!!! </h2>

		<div id="resultadosDeBusca">
			<p>RESULTADOS:</p> <br>
		</div>

	</body>
</html>
